<h1 class="text-3xl my-2 font-bold border-l-4 border-muted-foreground pl-2 uppercase">{{ i18n (printf "resume_%s" .name) }}</h1>
{{ range .details }}
<div class="flex items-stretch">
    <div class="min-w-40">
        <span class="text-muted-foreground">{{ .date_from }}~{{ if (isset . "date_to") }}{{ .date_to }}{{ else }}{{ i18n "present" }}{{ end }}</span>
    </div>
    <div class="text-foreground">
        <span class="font-semibold">{{ .name }} ({{ .degree }})</span><br><span>{{ .major }}</span>
    </div>
</div>
{{ end }}
