<ul class="menu-list">
    {{- partial "inline/menu/walk.html" (dict "page" .page "menu" .menu "is_dropdown" false) }}
</ul>

{{- define "_partials/inline/menu/walk.html" }}
    {{- $page := .page }}
    {{- $is_dropdown := .is_dropdown }}
    {{- range .menu }}
        {{ if (and (isset .Params "section") (ne .Params.section $page.Section)) }}
            {{ continue }}
        {{ end }}

        {{- $active := false }}
        {{- if $page.IsMenuCurrent "main" . }}
            {{- $active = true }}
        {{- else if and ($page.HasMenuCurrent "main" .) (not $page.Layout) }}
            {{- $active = true }} {{/* Layout for blog tags and archives pages */}}
        {{- end }}

        <li class="menu-item{{ if .Children }} has-dropdown{{ end }}{{ if $active }} menu-item-active{{ end }}">
            {{ if (.Params.enabled | default true) }}
                <a href="{{ .URL }}" class="{{ if $is_dropdown }}dropdown-item dropdown-item-link{{ else }}flex items-center{{ end }}">
                    {{ .Name }}
                    {{ if .Children }}
                        {{ partial "component/icon.html" (dict "name" "chevron-down" "width" "16") }}
                    {{ end }}
                </a>
                {{ with .Children }}
                    <ul class="menu-dropdown left-0">
                        {{ partial "inline/menu/walk.html" (dict "page" $page "menu" . "is_dropdown" true) }}
                    </ul>
                {{ end }}
            {{ else }}
                {{ if $is_dropdown }}
                    <span class="dropdown-item dropdown-item-disabled">{{ .Name }}</span>
                {{ else }}
                    <span class="menu-item-disabled">{{ .Name }}</span>
                {{ end }}
            {{ end }}
        </li>
    {{- end }}
{{- end }}
