<!-- 跳转按钮 -->
{{ $icon := .icon }}
{{ if $icon.target }}
    {{ $responsive := partial "function/responsive.html" .icon.responsive }}
    {{ with (partial "function/url.html" (dict "page" .page "target" $icon.target)) }}
        {{ $highlightClass := "" }}
        {{ if ($icon.highlight | default false) }}
            {{ $highlightClass = "bg-secondary text-secondary-foreground hover:bg-secondary/90 border-border" }}
        {{ else }}
            {{ $highlightClass = "text-muted-foreground hover:bg-accent hover:text-accent-foreground"}}
        {{ end }}

        <a href="{{ . }}" class="nav-icon-button group {{ $responsive }} {{ $highlightClass }} flex items-center gap-1.5"
            {{ if ($icon.blank | default false) }}target="_blank" rel="noopener noreferrer"{{ end }}
            aria-label="{{ i18n ( printf "nav_icon_label_%s" ($icon.translate | default "unknown")) }}"
            >
            {{ with $icon.icon }}
                {{ partial "component/icon.html" (dict "name" . "width" "20") }}
            {{ end }}
            <span class="text-sm" >{{ i18n ( printf "nav_icon_label_%s" ($icon.translate | default "unknown")) }}</span>
            <span class="nav-tip">{{ i18n ( printf "nav_icon_tip_%s" ($icon.translate | default "unknown")) }}</span>
        </a>
    {{ end }}
{{- end }}
