{{ define "main" }}
<div class="max-w-5xl mx-auto content">
    {{ range $key, $tag := .Site.Taxonomies.tags }}
        <h1>{{ $key }}</h1>
        <ul>
            {{ range .Pages.ByDate }}
                {{ if (ne .Section "blog") }}
                    {{ continue }}
                {{ end }}
                <li>
                    <span class="inline-block min-w-24">{{ .Date.Format "2006-01-02" }}</span>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ if .Draft }} Draft{{ end }}
                </li>
            {{ end }}
        </ul>
    {{ end }}
</div>
{{ end }}
